[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "ifj-testsuite"]
	path = ifj-testsuite
	url = https://github.com/18NAKEDCOWBOYS/IFJ-testsuite
